// COLORS
$color-blue-dark-1: #2b3945;
$color-blue-dark-2: #202c37;
$color-blue-dark-3: #111517;

$color-gray-dark-1: #858585;
$color-gray-light-1: #fafafa;

$color-white: #ffffff;

$color-black: #000000;

// BOX-SHADOW
