body {
	font-size: 1.6rem;
	font-family: "Nunito Sans", sans-serif;
}

.heading-primary {
	font-weight: 700;
	color: $color-white;
}

.heading-secondary {
	font-size: 4rem;
	color: $color-white;
}

.heading-tertiary {
	color: $color-white;
}
